---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/sections/Footer.astro';
import Header from '../components/sections/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import HeroSection from '../components/sections/HeroSection.astro';
import SkillsSection from '../components/sections/SkillsSection.astro';
import { skills } from '../data/skills';
import WorkExperience from '../components/sections/WorkExperience.astro';
import { work } from '../data/work';
import Studies from '../components/sections/Studies.astro';
import { studies } from '../data/studies';
import ArrowSeparator from '../components/ui/separator/ArrowSeparator.astro'
import GlowLineSeparator from '../components/ui/separator/GlowLineSeparator.astro'
import ProfileImage from '../assets/images/ProfileImage.png';
---

<!doctype html>
<html lang="en" data-theme="dark" class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- JSON-LD: Organization -->
    <script type="application/ld+json" set:html={JSON.stringify({
      '@type': 'HTL Saalfelden - St.Johann im Pongau',
      name: 'Jonas Aberger',
      url: new URL('/', Astro.site).toString(),
      logo: new URL('/favicon.svg', Astro.site).toString(),
    })} />
	</head>
	<body>
		<Header />
		<main>
      <HeroSection
        title="Jonas Aberger"
        subtitle="Softwareentwickler | Web-Entwickler"
        showCTA
        image={ProfileImage}
      />
     
    <section class="py-6">
      <ArrowSeparator />
      <SkillsSection title="Skills & Tools" skills={skills} />   
      <ArrowSeparator />

    </section>
		</main>
		<Footer />
	</body>
</html>
